# > PT

HOST-SUFFIX,investing.com,PROXY
HOST-SUFFIX,totheglory.im,DIRECT
HOST-SUFFIX,tp.m-team.cc,DIRECT
HOST-SUFFIX,wiki.m-team.cc,DIRECT
HOST-SUFFIX,hdchina.org,DIRECT
HOST-SUFFIX,hdsky.me,DIRECT
HOST-SUFFIX,hdcmct.org,DIRECT
HOST-SUFFIX,chdbits.co,DIRECT
HOST-SUFFIX,open.cd,DIRECT
HOST-SUFFIX,ourbits.club,DIRECT
HOST-SUFFIX,hdhome.org,DIRECT
HOST-SUFFIX,springsunday.net,DIRECT
HOST-SUFFIX,filelist.ro,DIRECT
HOST-SUFFIX,privatehd.to,DIRECT
HOST-SUFFIX,redacted.ch,DIRECT
HOST-SUFFIX,flacsfor.me,DIRECT
HOST-SUFFIX,myanonamouse.net,DIRECT
HOST-SUFFIX,empornium.me,DIRECT
HOST-SUFFIX,www.empornium.sx,DIRECT
HOST-SUFFIX,jerking.empornium.ph,PROXY
HOST-SUFFIX,fapping.empornium.sx,PROXY
HOST-SUFFIX,iptorrents.com,DIRECT
HOST-SUFFIX,iptorrents.com,DIRECT

# > Pokerstars
HOST-SUFFIX,starsaccount.com,日本
HOST-SUFFIX,rationalcdn.com,日本
HOST-SUFFIX,ingest.crittercism.com,日本
HOST-SUFFIX,pokerstars.com,日本
HOST-SUFFIX,pokerstarscashier.com,日本
HOST-SUFFIX,starscrm.com,日本
HOST-SUFFIX,urbanairship.com,日本
HOST-SUFFIX,images4us.com,日本
HOST-SUFFIX,888poker.com,日本
HOST-SUFFIX,gamingajax.com,日本
HOST-SUFFIX,safe-iplay.com,日本
HOST-SUFFIX,safe-installation.com,日本

# > OpenAI
HOST-SUFFIX,ai.com,美国
HOST-SUFFIX,openai.com,美国
